<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>Создал: <%= comment.user.name %></p>
<p>
  <%= link_to 'Удалить комментарий', [comment.post, comment],
              method: :delete,
              data: { confirm: 'Вы уверены?' } %>
</p>